@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import "tailwindcss";

.nunito-font {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Any other styles */
body {
  font-family: 'Nunito', sans-serif;
}